.select-container{
    display: flex;
    align-items: center;
    border: var(--borderColor) 1px solid;
    padding: 8px;
    background-color: var(--containerColor);
    border-radius: 4px;
}

.options-box{
    position: absolute;
    z-index: 7;
    margin-top: 1px;
    width: calc(100% - 2px);
    padding-bottom: 20px;

}
.option-box__container{
    overflow-y: auto;
    max-height: 40vh;
    border-top: 0;
    background-color: var(--containerColor);
    border: var(--borderColor) 1px solid;
    border-radius: 4px;

}
.option{
    color: var(--greyColor);
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 12px;

}
.option:hover,
.option:active{
    background-color: rgba(var(--primaryColor-rgb), 0.4);
}